body{
    background: url(Images/guillermo-ferla-lLExhYl-cXQ-unsplash.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur (8px);
    background-color: black;
    font-family: 'Libre Franklin', sans-serif;;
    height: 100vh;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: #fca311;
    padding: 0 90px;
    line-height: 70px;
}

li a :is(:link, :active, :visited){
    color: black;
    text-decoration: none;
    padding: .5px 1.5px;
}

 a:is(:link, :active, :visited).active{
    color: #e5e5e5;
    background-color: #fca311;
}

nav{
    background: rgba(18, 18, 78, 0.867);
    backdrop-filter: blur (7px);
    height: 85px;
    width: 100%;
    z-index: 100;
}

.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content{
    padding-top: 50px;
}

nav #icon{
    color: #fca311;
    margin-left: 100px;
    font-size: 30px;
    line-height: 70px;
    float: right;
    margin-right: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    margin-right: 24px;
    margin-top: 10px;
    position: relative;
}

nav ul li a{
    font-size: 18px;
    color: #fca311;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a:hover{
    border: 1px solid #fca311;
    transition: .5s;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .progress-container {
    width: 100%;
    height: 20px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 20px;
    background: #04AA6D;
    width: 0%;
  }
  

#intro{
    color: #e5e5e5;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin-bottom: 80px;
    margin-top: -60px;
}

h1{
    color: #fca311;
    font-weight: bolder;
    margin-top: 180px;
    font-size: 100px;
    text-align: center;
}

#blogss{
    text-align: center;
    color: #29437b;
}

#para{
    color: #c4c3c3;
    font-size: 16px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 50px;
}

h2{
    color: #14213d;
    font-weight: bolder;
    margin-top: 230px;
}

h3{
    color: #14213d;
    font-weight: bolder;
}

h4{
    color: #14213d;
    font-weight: bolder;
}

h5{
    color: #14213d;
    font-weight: bolder;
}

.container{
    margin: 0 auto;
    height: 30vh;
    width: 40%;
    max-width: 700px;
    min-height: 50vh;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    padding: 30px;
}

.article p{
  color: #d7dae1;
  font-weight: bold;
  font-size: 20px;
}

#factbtn{
    padding: 4px;
    border-radius: 5px;
    background-color: #fca311;
}

p{
    color: #e5e5e5;
    font-weight: bold;
}

.row{
    margin: 0 auto;
    height: 30vh;
    width: 40%;
    border: 2px solid #14213d;
    border-radius: 10px;
    padding: 15px;
    background-color: #e8bb73ea;
}

.scrolldownbtn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fca311;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 800px;
    margin-top: -100px;
}

.scrolldownbtn:hover{
    background-color: #e5e5e5;
}

@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }

    nav ul{
        margin-right: 20px;
    }

    nav a {
        font-size: 17px;
    }
}

@media (max-width: 909px){
    nav #icon{
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(18, 18, 78, 0.668);
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover{
        border: none;
        color: #e5e5e5;
    }

    nav ul.show{
        left: 0;
    }
}

.wireframe{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.wireframecol1{
    flex-basis: 50%;
    background: #29437b;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 70px;
    margin-left: 100px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.wireframecol1 img{
    width: 100%;
}

.wireframecol2 p{
    flex-basis: 35%;
    margin-bottom: 5%;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 80px;
    padding: 20px 12px;
    color: #838383;
}

#process{
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
    color: #29437b;
}

.data{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.datacol1{
    flex-basis: 50%;
    background: #29437b;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 70px;
    margin-left: 100px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.datacol1 img{
    width: 100%;
}

.datacol2 p{
    flex-basis: 35%;
    margin-bottom: 5%;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 80px;
    padding: 20px 12px;
    color: #838383;

}

#datav{
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
    color: #29437b;
}

.visual{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.visualcol1{
    flex-basis: 50%;
    background: #29437b;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 70px;
    margin-left: 100px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.visualcol1 img{
    width: 100%;
}

.visualcol2 p {
    flex-basis: 35%;
    margin-bottom: 5%;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 80px;
    padding: 20px 12px;
    color: #838383;
}

#nextblogbtn{
    padding: 5px;
    border-radius: 5px;
    background-color: #fca311;
}

#blogsbtn{
    margin-left: 400px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fca311;
}

#dataart{
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
    color: #29437b;
}

#designbtn{
    padding: 10px;
    border-radius: 5px;
    background-color: #fca311;
    margin-left: 80px; 
}

#designbtn:hover{
    background-color: #e5e5e5;
}

#datavisbtn{
    padding: 10px;
    border-radius: 5px;
    background-color: #fca311;
    margin-left: 80px;
}

#datavisbtn:hover{
    background-color: #e5e5e5;
}

#dataartbtn{
    padding: 10px;
    border-radius: 5px;
    background-color: #fca311;
    margin-left: 80px;
}

#dataartbtn:hover{
    background-color: #e5e5e5;
}

/*-------Blog Page------*/

.cont{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

#box{
    margin-left: 100px;
    opacity: 0.5;
}

#box2{
    margin-right: 100px;
    opacity: 0.5;
}

#modalBtn1{
    position: absolute;
    margin-left: 200px;
    margin-top: 100px;
    padding: 5px;
    border-radius: 5px;
    background: #29437b;
    border: solid black;
    z-index: 1;

}

#modalBtn2{
    position: absolute;
    margin-left: 140px;
    margin-top: 100px;
    padding: 5px;
    border-radius: 5px;
    background: #29437b;
    border: solid black;
    z-index: 1;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #df990d;
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 80%;
  }

  .modal-content p {
    width: fit-content;
  }

  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content2 {
    background-color: #df990d;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .modal-content2 p {
    width: fit-content;
  }

#box:hover{
    box-shadow:  #e5e5e59b;
}

#box2:hover{
    box-shadow:  #e5e5e59b;
}

.blogposts{
    width: 55%;
    margin: auto;
    text-align: center;
}

.blogposts #post{
    border: solid black;
    text-align: left;
    border-radius: 10px;
    padding: 30px;
    background-color: #fba61dcc;
    color: #0b0b0b;
    font-size: 16px;
}

#intro{
    font-size: 17px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.blogposts h2{
    color: #29437b;
}

.blogposts #post2{
    border: solid black;
    text-align: left;
    border-radius: 10px;
    padding: 30px;
    background-color: #fba61dcc;
    color: #313030;
    font-size: 16px;
}

.blogposts h3{
    color: #29437b;
}

.blogposts h4{
    color: #29437b;
}

.blogposts #post3{
    border: solid black;
    text-align: left;
    border-radius: 10px;
    padding: 30px;
    background-color: #fba61dcc;
    color: #ecebeb;
    font-size: 16px;
}

.button{
    color: #e5e5e5;
}

.button2{
    color: #e5e5e5;
}

#clickme{
    margin-top: 300px;
}

#endofpage{
    text-align: center;
}

/*----------Design Page---------*/
 #design{
    color: #29437b;
    margin-top: 60px;
    
}

.spaceart{
    margin-top: 60px;
    margin-left: 430px;
}

#spacee{
    text-align: center;
    font-size: 20px;
    color: #29437b;
}

#blurb{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

#style{
    color: #29437b;
    margin-top: 200px;
    font-weight: bold;
}

.firstwireframes{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}

.firstwireframes-col{
    flex: 25%;
    max-width: 25%;
    padding: 0px 20px;
    margin-left: 50px;
}

.firstwireframes-col img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

.firstwireframes-col-2{
    flex: 25%;
    max-width: 25%;
    padding: 0px 30px;
    margin-left: 50px;
}

.firstwireframes-col-2 img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

.firstwireframes-col-3{
    flex: 25%;
    max-width: 25%;
    padding: 0px 30px;
    margin-left: 50px;
}

.firstwireframes-col-3 img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

#design{
    text-align: center;
}

.document{
    width: 55%;
    margin: auto;
    text-align: center;
    margin-top: 140px;
}

.document h3{
    color: #29437b;
    font-weight: bold;
}

.document p {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #29437b;
}

.doc{
    width: 55%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
}

.doc h4{
    color: #29437b;
    font-weight: bold;
}

.doc p {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #29437b;
}

.docs{
    width: 55%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
}


.docs p {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #29437b;
}

.rows{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}

.rows-col {
    flex: 25%;
    max-width: 25%;
    padding: 0px 20px;
    margin-left: 50px;
}

.rows-col img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

.rows-col-1 {
    flex: 25%;
    max-width: 25%;
    padding: 0px 20px;
    margin-left: 50px;
}

.rows-col-1 img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

.rows-col-2 {
    flex: 25%;
    max-width: 25%;
    padding: 0px 20px;
    margin-left: 50px;
}

.rows-col-2 img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

.newWireframes{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}


.newWireframes-col{
    flex: 25%;
    max-width: 25%;
    padding: 0px 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.newWireframes-col img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

.newWireframes-col-1{
    flex: 25%;
    max-width: 25%;
    padding: 0px 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.newWireframes-col-1 img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

.newWireframes-col-2{
    flex: 25%;
    max-width: 25%;
    padding: 0px 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.newWireframes-col-2 img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

.newWireframes-cols{
    flex: 25%;
    max-width: 25%;
    padding: 0px 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.newWireframes-cols img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

.newWireframes-cols-1{
    flex: 25%;
    max-width: 25%;
    padding: 0px 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.newWireframes-cols-1 img{
    margin-top: 40px ;
    vertical-align: middle;
    width: 100%;
}

/*-------Data Visualisation Page-------*/

#line{
    color: #e5e5e5;
    text-align: center;
    margin-top: -20px;
}

#bar{
    color: #29437b;
    text-align: center;
    margin-top: 80px;
}

#root{
    color: #c4c3c3;
    margin-top: 90px;
    font-weight: bold;
}

.bar {
    fill: #29437b;
    margin: 2px;

}

#root2{
    color: #c4c3c3;
}

.axis text {
    font-size: 10px;
    fill: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: rgb(255, 255, 255);
}

#bargraph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#bubblegraph{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    
}

#bubbles{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    margin-left: 200px;
}

#graph{
    color: #29437b;
    text-align: center;
    font-size: 18px; 
}

.asteroid-image {
    width: 60px; /* Adjust the image size as needed */
    height: 60px;
    opacity: 1; /* Adjust the opacity as needed */
  }


/*------Data Art Page------*/

#dataA{
    color: #29437b;
    margin-top: 30px;
}

#earth {
    width: 40%; /* Make the Earth take up half the page width */
    height: 80%; /* Make the Earth cover the entire page height */
    background-image: url(Images/nasa-vhSz50AaFAs-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50% rgba(255, 255, 255, 0.479);
    left: 70%;
    top: 120%;
    position: absolute;
    transform: translate(-50%, -50%); /* Center the Earth both vertically and horizontally */
}

.asteroid-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.asteroid{
    background-image: url('Images/images\ \(6\).png'); /* Add a background image */
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.asteroid1{
    background-image: url(Images/asteroid-transparent-background-16.png);
}

.asteroid.asteroid2{
    background-image: url(Images/revised\ asteroid\ 1.png);
}

.deco-asteroid {
    position: absolute;
    width: 70px; /* Adjust the size of the decorative asteroids as needed */
    height: 70px;
    background-image: url('Images/revised\ asteroid\ 1.png'); /* Replace with the path to the decorative asteroid image */
    background-size: cover; /* Adjust the size as needed */
    background-repeat: no-repeat;
    
}

.deco-asteroid{
    top: 490px;
    left: 50px;
}

.deco-asteroid1 {
    position: absolute;
    width: 80px; /* Adjust the size of the decorative asteroids as needed */
    height: 50px;
    background-image: url('Images/asteroid-transparent-background-16.png'); /* Replace with the path to the decorative asteroid image */
    background-size: cover; /* Adjust the size as needed */
    background-repeat: no-repeat;
    
}

.deco-asteroid1{
    top: 300px;
    left: 50px;
    animation: rotate-deco 5s linear infinite;
}

.deco-asteroid2 {
    position: absolute;
    width: 50px; /* Adjust the size of the decorative asteroids as needed */
    height: 50px;
    background-image: url('Images/revised\ asteroid\ 1.png'); /* Replace with the path to the decorative asteroid image */
    background-size: cover; /* Adjust the size as needed */
    background-repeat: no-repeat;
    
}

.deco-asteroid2{
    top: 160px;
    left: 500px;
    animation: rotate-deco 5s linear infinite;
}

.deco-asteroid3 {
    position: absolute;
    width: 65px; /* Adjust the size of the decorative asteroids as needed */
    height: 65px;
    background-image: url('Images/kisspng-asteroid-icon-asteroid-png-transparent-5a77e858513ae2.6072774415178077043327.png'); /* Replace with the path to the decorative asteroid image */
    background-size: cover; /* Adjust the size as needed */
    background-repeat: no-repeat;

}

.deco-asteroid3{
    top: 90px;
    left: 800px;
    animation: rotate-deco 5s linear infinite;
}

.deco-asteroid4 {
    position: absolute;
    width: 60px; /* Adjust the size of the decorative asteroids as needed */
    height: 60px;
    background-image: url('Images/kisspng-asteroids-meteoroids-meteorite-rock-asteroid-storm-free-5b1dc4e03f0db6.1306378015286776002583.png'); /* Replace with the path to the decorative asteroid image */
    background-size: cover; /* Adjust the size as needed */
    background-repeat: no-repeat;
    
}

.deco-asteroid4{
    top: 560px;
    left: 700px;
    animation: rotate-deco 5s linear infinite;
}

.deco-asteroid5 {
    position: absolute;
    width: 70px; /* Adjust the size of the decorative asteroids as needed */
    height: 70px;
    background-image: url('Images/revised\ asteroid\ 1.png'); /* Replace with the path to the decorative asteroid image */
    background-size: cover; /* Adjust the size as needed */
    background-repeat: no-repeat;
    
}

.deco-asteroid5{
    top: 800px;
    left: 350px;
    animation: rotate-deco 5s linear infinite;
}

@keyframes rotate-deco {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#ship {
   margin-top: 150px;
   background: rgba(242, 166, 25, 0.786);
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    margin-left: 100px;
}


#tooltip {
    position: absolute;
    display: none;
    background-color: #df990d;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    top: 100%;
    z-index: 9999;
    /* Additional styling for the tooltip */
}

.asteroid:hover + #tooltip {
    display: block;
    top: 100px; /* Adjust tooltip position as needed */
    left: 60%; /* Adjust tooltip position as needed */
    transform: translate(-50%, -50%);
}

/* Position the tooltip and hide it by default */
.tooltip1 {
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 2;
  }
  
#space{
    width: 40%;
    background: rgb(242, 166, 25);
    border-radius: 5px;
    padding: 5px;
    margin-left: 58%;
    margin-top: -10%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-opacity {
    0%, 100% {
        opacity: 2;
    }
    50% {
        opacity: 0.5;
    }
}






@media (max-width: 700px){
    .cont{
        flex-direction: column;
    }
}

@media (max-width: 700px){
    .firstwireframes{
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    h1{
         font-size: 36px;
         text-align: center;
         margin-bottom: 150px;
    }
}

@media (max-width: 700px){
    .container{
        min-height: 400px;
        margin-bottom: -100px;
    }
}

@media (max-width: 700px){
    .row{
        min-height: 300px;
        margin-bottom: 100px;
        width: 70%;
    }
}

@media (max-width: 700px){
    .wireframe{
        min-height: 400px;
        width: 100%;
    }
}

@media (max-width: 700px){
    .data{
        min-height: 400px;
        width: 100%;
    }
}

@media (max-width: 700px){
    .visual{
        min-height: 400px;
        width: 100%;
    }
}

@media (max-width: 700px){
    .cont{
        margin-right: 160px;
    }
}

@media (max-width: 700px){
    .contcol2{
        margin-left: 152px;
        width: 71%;
        margin-bottom: -120px;
    }
}

@media (max-width: 700px){
    .firstwireframes-col-2{
      margin-left: 245px;
      margin-top: -129px;
    }
}

@media (max-width: 700px){
    .firstwireframes-col-3{
      margin-left: 450px;
      margin-top: -129px;
    }
}

@media (max-width: 700px){
    .firstwireframes{
      margin-bottom: -80px;
    }
}

@media (max-width: 700px){
    .rows-col-1{
      margin-left: 250px;
      margin-top: -142px;
    }
}

@media (max-width: 700px){
    .rows-col-2{
      margin-left: 450px;
      margin-top: -129px;
    }
}



